@import url(./__contener/photo-grid__contener.css);
@import url(./__item/photo-grid__item.css);

.photo-grid {
    max-width: 1184px;
    padding-top: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        padding-top: 102px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 93px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 72px;
    }
}