@import url(./__list/places__list.css);
@import url(./__item/places__item.css);
@import url(./__title/places__title.css);
@import url(./__image/places__image.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__link/places__link.css);
@import url(./__paragraphs/places__paragraphs.css);
@import url(./__paragraph/places__paragraph.css);

.places {
  max-width: 984px;
  padding-top: 92px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .places {
    padding: 92px 148px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding: 92px 48px 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 88px 24px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .places {
    padding: 64px 0 0;
  }
}
