.header__lang {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 117%;
  color: white;
  text-decoration: none;
  transition: opacity 0.4s linear;
  margin-left: 18px;

}

.header__lang:hover {
  opacity: 0.8;
}


@media screen and (max-width: 320px) {
  .header__lang {
    font-size: 1.125rem;
    line-height: 133%;
  }
}