.lead__subtitle {
  font-size: 1.9em;
  line-height: 120%;
  max-width: 640px;
  text-align: center;
  margin: 32px auto 64px auto;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 16px auto 56px auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .lead__subtitle {
    font-size: calc(4vw);
    line-height: 120%;
    margin: 16px auto 40px;
    max-width: calc(100% / 3 * 2);
  }
}

@media screen and (max-width: 480px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 125%;
    margin: 16px auto 40px;
    max-width: calc(90% / 2 * 2);
  }
}