.lead__subtitle {
    font-size: 2.5em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    max-width: 640px;
    padding-top: 32px;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 1.3em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.12;
    }
}