.cover__background {
  background-size: contain;
  margin: auto;
  background: #2A2C2F no-repeat center;
  opacity: 0.8;
  transition: opacity 1s ease-in-out;
  width: 100%;
}

.cover__background:hover {
  opacity: 0.3;
}