.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: start;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__caption {
        padding-right: 16px;
        padding-left: 16px;
    }
}